.email-input {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid #1e1e1e;
  background: #f6f6f6;
  width: 320px;
  height: 20px;
  color: #c2c6c1;
  padding-top: 28px;
  text-align: start;
}

.email-input:focus {
  outline: none;
  border-bottom: 1px solid #5a59f6;
}
.email-input:hover {
  background: yellowgreen;
}
